@import "tailwindcss";

@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-dark: var(--dark);
  --color-text-muted: var(--text);

  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;

  --radius-sm: 0.25rem;
  --radius-md: 0.5rem;
  --radius-lg: 1rem;
}

:root {
  --primary: #1b679b;
  --secondary: #4f46e5;
  --dark: #16181d;
  --text: #575e6b;

  --padding-sm: 0.5rem;
  --padding-md: 1rem;
  --padding-lg: 1.5rem;
}

body {
  @apply bg-slate-50 text-slate-900 font-sans;
}
