@import "tailwindcss";

@theme {
  --color-primary: #1b679b;
  --color-secondary: #4f46e5;
  --color-dark: #16181d;
  --text-primary: #1e6899;
  --text-secondary: #6a707c;
  --bg-primary: #f9fafb;
  --border-primary: #e5e8ec;

  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;

  --radius-sm: 0.25rem;
  --radius-md: 0.5rem;
  --radius-lg: 1rem;
}

:root {
  --padding-sm: 0.5rem;
  --padding-md: 1rem;
  --padding-lg: 1.5rem;
}

